* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600&display=swap');

.banner__parallax {
  background-image: url("../img/paralax2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

body
{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  font-size: 15px;
  background: linear-gradient(120deg, #031E6B, #4DE4CF);
}
.detalhe {
  height: 800px;
  transform: translate(0, 50%);
  color: #f2f2f2;
  padding: 10px;
  font-size: 24px;
}
li:hover
{
  transform: scale(1.2);
}
button[type="reset"] 
{
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  color: #031E6B;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.texto
{
  font-size: 1.7rem;
  color: #f2f2f2;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
  margin: 0 320px;
  border-radius: 10px;
  font-weight: 700;
}

.flex__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 3;
  font-size: 1.3rem;
  font-weight: 600;
  scroll-behavior: smooth;
}

.logo__menu {
  flex: 50%;
  padding: 10px;
  text-align: justify;
}

.logo__menu img {
  width: 27%;
}

.menu {
  display: flex;
  flex: 50%;
  justify-content: space-around;
}


.menu li a {
  color: #031e6d;
  font-weight: bold;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "modalidades medalhas" "modalidades curiosidades";
/*   margin-top: 100px; */
  scroll-behavior: smooth;
  /* border: 1px solid red; */
  margin: 100px;
  z-index: 2;
}

.modalidades-container a h2{
  color: #f2f2f2;
}

.medals {
  grid-area: "medalhas";
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 400px;
  min-width:300px;
  background-color: #DBDBDB;
  border-radius: 8px;
  box-shadow: 1px -1px 7px #B5B5B5;
  margin-top:10px;
}
.flex-main
{
  display: flex;
  margin-top: 30px;
}
.grid__title {
  grid-column: 1/5;
  grid-row: 1/1;
  text-align: center;
  margin-top: 10px;
}

.grid__item {
  display: flex;
  text-align: center;
  border: 2px solid #B5B5B5;
  align-items: center;
  justify-content:center;
  border-radius: 5px;
}

.curiosidades {
  border-radius: 8px;
  grid-area: "curiosidades";
}

.curiosidades img {
  border-radius: 8px;
  box-shadow: 1px -1px 7px #B5B5B5;
}

.flex-aside
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.curiosidades img
{
  width:300px;
  height:300px;
}
.modalidades-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  grid-area: "modalidades";
}

.modalidades-container > a > h2 {
  margin-top: 10px;
}
.pais 
{
  width:55px;
  height:50px;
}
.item-flex {
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 200px;
  box-shadow: 1px -1px 10px #aca8a8;
}

.item-flex:hover,
.curiosidades:hover
{
  transform:translate(0%, -2%);
  transition: all .3s linear;
}
/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". copy logos";
  background-color: #e7e0e0;;
  padding: 5px;
  justify-content: center;
  align-items: center;
  
}

footer p {
  margin-left: 50%;
  transform: translate(-50%);
  align-self: center;
  grid-area: copy;
}

.logo{
  width: 5em;
  padding: 5px;
}

.poweredby {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: logos;
}

.poweredby div {
  margin-right: 30px;
}

.item-flex img {
  width:200px;
  height:200px;
  border-radius: 5px;
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 900px) {
  .menu {
    flex: 100%;
    align-items: center;
    width: 100vw;
    font-size: 70%;
  }
  .logo__menu {
    text-align: center;
    flex: 100%;
    /* text-align: center; */
    margin: 0;
  }

  /* footer {
    padding: 1em;
    text-align: center;
  } */
  /* .logo {
    display: none;
  } */

  .main-grid {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }

  .modalidades-container {
    margin-top: 30px;
  }
  .texto
  {
    margin:0;
  }


}

.flex__container__footer {
  display: flex;
  flex-wrap: wrap;
  /* height: 10vh; */
}

.flex-item-left {
  flex: 50%;
}


.flex-item-right {
  flex: 50%;
  display: inline-block;
  text-align: center;
  flex-direction: row-reverse;
}


@media (max-width: 900px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }

  .flex-item-left > p {
    font-size: 10px;
  }

  .flex-item-right {
    margin-bottom: 0;
  }

}

@media (min-width: 1000px) {
  .banner__parallax
  {
    background-image: url("../img/banner.jpg");
  }
}