* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.banner__parallax {
  background-image: url("../img/paralax.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

body
{
  text-align: center;
}
.detalhe {
  height: 600px;
  transform: translate(0, 50%);
  color: #f2f2f2;
  padding: 10px;
  font-size: 24px;
}

.botao {}

.flex__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;

}

.logo__menu {
  flex: 50%;
  padding: 10px;
  border: 1px solid red;
  text-align: justify;
}

.logo__menu img {
  width: 27%;
}

.menu {
  display: flex;
  flex: 50%;
  justify-content: space-between;
}

li {
  padding: 10px;
}

.menu li a {
  color: #031e6d;
  font-weight: bold;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "modalidades medalhas" "modalidades curiosidades";
}

.medals {
  grid-area: "medalhas";
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 400px;
  min-width:300px;
  background-color: #DBDBDB;
  border-radius: 5px;
  box-shadow: 1px -1px 7px #B5B5B5;
  margin-top: 12px;
}

.grid__title {
  grid-column: 1/5;
  grid-row: 1/3;
  text-align: center;
  margin-top: 10px;
}

.grid__item {
  text-align: center;
  border: 2px solid #B5B5B5;
  padding: 5px;
}

.curiosidades {
  grid-area: "curiosidades";
}

.modalidades-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  grid-area: "modalidades";
}

.item-flex {
  border-radius: 5px;
  text-align: center;
  background-image: url('../sport-pages/atletismo/img/atletismo2.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
}
/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". copy logos";
  background-color: green;
  width: 100vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-left: 50%;
  transform: translate(-50%);
  align-self: center;
  grid-area: copy;
}

.logo{
  width: 5em;
  padding: 5px;
}

.poweredby {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: logos;
}

.poweredby div {
  margin-right: 30px;
}



/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {
  .menu {
    flex: 100%;
    align-items: center;
    width: 100vw;
  }
  .logo__menu {
    flex: 100%;
    /* text-align: center; */
  }
  
  footer {
    padding: 1em;
    text-align: center;
  }
  /* .logo {
    display: none;
  } */
}

@media (min-width: 1000px) {
  .banner__parallax
  {
    background-image: url("../img/banner.jpg");
  }
}