* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600&display=swap');

.banner__parallax {
  background-image: url("../img/paralax.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}
.banner__parallax_bottom
{
  background-image: url("../img/paralax.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

body
{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  font-size: 15px;
  background: linear-gradient(120deg, #031E6B, #4DE4CF);
}
.detalhe {
  height: 800px;
  transform: translate(0, 50%);
  color: #f2f2f2;
  padding: 10px;
  font-size: 24px;
}

button[type="reset"] 
{
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #031E6B;
  background-color: #f2f2f2;

}

.flex__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 1;
  font-size: 1.3rem;
  font-weight: 600;
  scroll-behavior: smooth;
}

.logo__menu {
  flex: 50%;
  padding: 10px;
  text-align: justify;
}

.logo__menu img {
  width: 27%;
}

.menu {
  display: flex;
  flex: 50%;
  justify-content: space-around;
}

li {
  /* padding: 10px; */
}

.menu li a {
  color: #031e6d;
  font-weight: bold;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "modalidades medalhas" "modalidades curiosidades";
/*   margin-top: 100px; */
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

.modalidades-container a h2 {
  color: #f2f2f2;
}

.medals {
  grid-area: "medalhas";
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 400px;
  min-width:300px;
  background-color: #DBDBDB;
  border-radius: 5px;
  box-shadow: 1px -1px 7px #B5B5B5;
  margin-top:10px;
}
.flex-main
{
  display: flex;
  margin-top: 30px;
}
.grid__title {
  grid-column: 1/5;
  grid-row: 1/1;
  text-align: center;
  margin-top: 10px;

}

.grid__item {
  display: flex;
  text-align: center;
  border: 2px solid #B5B5B5;
  align-items: center;
  justify-content:center;
  border-radius: 5px;
}

.curiosidades {
  grid-area: "curiosidades";
  border-radius: 5px;
}

.flex-aside
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.curiosidades img
{
  width:300px;
  height:300px;
}
.modalidades-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  grid-area: "modalidades";
}
.pais 
{
  width:55px;
  height:50px;
}
.item-flex {
  border-radius: 5px;
  text-align: center;
  background-image: url('../sport-pages/atletismo/img/atletismo2.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  box-shadow: 1px -1px 7px #B5B5B5;
}
/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". copy logos";
  background-color: #e7e0e0;;
  padding: 5px;
  justify-content: center;
  align-items: center;
  
}

footer p {
  margin-left: 50%;
  transform: translate(-50%);
  align-self: center;
  grid-area: copy;
}

.logo{
  width: 5em;
  padding: 5px;
}

.poweredby {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: logos;
}

.poweredby div {
  margin-right: 30px;
}

.img-atletismo
{
  background-image: url('/img/atletismo3.jpg');
}

.img-futebol
{
  background-image: url('/img/futebol3.jpg');
}

.img-ginastica
{
  background-image: url('/img/ginástica3.jpg');
}

.img-judo
{
  background-image: url('/img/judo3.jpg');
}

.img-natacao
{
  background-image: url('/img/natação2.jpg');
}

.img-peso
{
  background-image: url('/img/peso3.jpg');
}

.img-skate
{
  background-image: url('/img/skate3.jpg');
}

.img-volei
{
  background-image: url('/img/volei3.jpg');
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {
  .menu {
    flex: 100%;
    align-items: center;
    width: 100vw;
    font-size: 70%;
  }
  .logo__menu {
    text-align: center;
    flex: 100%;
    /* text-align: center; */
    margin: 0;
  }

  footer {
    padding: 1em;
    text-align: center;
  }
  /* .logo {
    display: none;
  } */

  .main-grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .modalidades-container {
    margin-top: 30px;
  }

}

@media (min-width: 1000px) {
  .banner__parallax
  {
    background-image: url("../img/banner.jpg");
  }
}