* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

/* Header: */

body {
    background:linear-gradient(120deg,#031E6B, #4DE4CF, #031E6B);
} 


.flex__container__header {
    display: flex;
    height: 96.78px;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

.flex__item__logo img {
    width: 222.23px;
    height: 70.53px;
    margin-left: 17px;
}

.texto__header {
    font-size: 1.6em;
    margin-right: 40px;
    color: #031E6B;
}

/* Slider: */

#slider {
    width: 80vw;
    margin-top: 5%;
    margin-bottom: 40%;
}

#slider img {
    opacity: 0.6;
    position: absolute;
    width: 80%;
    height: 75%;
    border-radius: 10px;
    transition-duration: 3000ms;
    transform: translateX(-150%);
}

#slider img.selected {
    /* a img que receber essa classe terá opacidade 1 */
    opacity: 1;
    transition-duration: 4000ms ease;
    transform: translateX(0%);
}

.flex__container__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.section__item__1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0 auto;
}

.section__item__1>article {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 350px;
    margin: 10px;
    border: #597bb1 2px double;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

.box__artigo {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img texto";
    color: rgb(179, 172, 162);
    text-align: center;
    max-width: 100vw;
    max-height: 80vh;
    justify-content: center;
    align-items: center;
    

}

.link__img__card>img {
    grid-area: img;
    width: 95vw;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.texto__paragrafro {
    padding: 20px;
}

.side__barr {
    display: flex;
    overflow: scroll;
    width: 90vw;
}

.side__barr>iframe {
    margin-left: 5px;
    border-radius: 10px;
    max-width: 97vw;
    max-height: 30vh;
    padding: 0 auto;
}

.section__side__barr {
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    /* border: solid 2px #f2f2f2; */
    padding: 17px;
    color: white;
}

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #030200;
    color: white;
    justify-content: center;
    align-items: center;
}

/* .flex__container__footer {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    background-color: black;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  
  .flex-item-right {
    flex: 50%;
    display: inline-block;
    text-align: center;
    flex-direction: row-reverse;
  } */
  

@media (min-width: 320px) and (max-width: 649px) {
    .flex__container__header {
        display: flex;
        flex-flow: row wrap;
        height: 69.27px;
        justify-content: center;
        background-color: #f2f2f2;
    }
    .flex__item__logo img {
        width: 103.13px;
        height: 32.72px;
    }
    .texto__header {
        flex: 100%;
        font-size: 1.3em;
        text-align: center;
    }
    #slider {
        display: none;
    }
    .box__artigo {
        display: flex;
        flex-flow: wrap-reverse;
        color: blanchedalmond;
        text-align: center;
        background-color: #AAC7D9;
        flex: 1 1 400px;
        justify-content: center;
        align-items: center;
    }
    .section__item__1 {
        display: flex;
        flex-wrap: wrap;
        max-width: 95%;
    }
    .section__side__barr {
        width: 90vw;
        text-align: center;
        font-size: 13px;
    }
    .side__barr {
        display: flex;
        overflow: scroll;
        width: 87vw;
        margin-left: 50%;
        transform: translate(-50%);
    }
}

@media (min-width: 650px) and (max-width: 1023px) {
    #slider {
        max-width: 800px;
        max-height: 480px;
        margin-top: 5%;
        margin-bottom: 65%;
    }
    #slider img {
        position: absolute;
        max-width: 800px;
        max-height: 480px;
        border-radius: 10px;
    }
    .box__artigo {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "img texto";
        color: blanchedalmond;
        text-align: center;
        max-width: 100vw;
        max-height: 80vh;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) and (max-width: 2560px) {
    #slider {
        max-width: 1100px;
        height: 600px;
        margin-top: 80px;
        margin-bottom: 5%;
    }
    #slider img {
        position: absolute;
        max-width: 1100px;
        height: 600px;
        border-radius: 10px;
    }

    .box__artigo {
        display: flex;
        flex-flow: wrap-reverse;
        color: blanchedalmond;
        text-align: center;
        background-color: #f2f2f26c;
        flex: 1 1 400px;
        justify-content: center;
        align-items: center;
    }
}