* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;

}

/* Header */

.flex__container__header {
    display: flex;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #0485C7;
}


.flex__container__main {
    display: flex;
    flex-flow: row wrap;
}

/* Main */
.flex__container__main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
      
   
    
}

.flex__item__main {
    border: gray 1px solid;
    flex: 20%;
    text-align: center;
    /* border-radius: 10px;   */
}



article {
    background-color: #FEC504;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column; 
    /* align-items: space-around; */
    align-items: space-between;
    justify-content: space-between;
}

article > a {
    display: flex;
    gap: 5px;
    margin: 10px; 
    padding: 5px
}



.imagem {
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    margin-bottom: 0;
    
    
}

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #030200;
    color: white;
    justify-content: center;
    align-items: center;
}

/* Gerando Tela responsiva */

/* @media (max-width: 425px) {
    .flex__item__logo, .flex__item__modalidade {
        flex: 100%;
    }
    .flex__item__main {
        border: gray 1px solid;
        flex: 100%;
        text-align: center;
    }
}

/* Gerando Tela responsiva */

/* @media (min-width: 426px) and (max-width: 768px) {
    .flex__item__main {
        border: gray 1px solid;
        flex: 40%;
        text-align: center;
    }

    .flex__item__main {
        border-radius: 10px;
    }

    article {
        border-radius: 10px;
    }

    .imagem {
        border-radius: 10px;
    }



}

/* Gerando Tela responsiva */

/* @media (min-width: 769px) and (max-width: 1024px) {
    .flex__item__main {
        border: gray 1px solid;
        flex: 30%;
        text-align: center;
    }
} */

    .flex__item__main {
        border-radius: 10px;
    }

    article {
        border-radius: 10px;
    }

    .imagem {
        border-radius: 10px;
    }



@media (min-width: 1025px) and (max-width: 1440px) {
    .flex__item__main {
        border: gray 1px solid;
        flex: 20%;
        text-align: center;
    }

    .flex__item__main {
        border-radius: 10px;
    }

    article {
        border-radius: 10px;
    }

    .imagem {
        border-radius: 10px;
    }

}



